[submodule "application"]
	path = application
	url = https://github.com/The18thWarrior/eth-global-24-application.git
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/v3-periphery"]
	path = lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "lib/v4-periphery"]
	path = lib/v4-periphery
	url = https://github.com/uniswap/v4-periphery
